.overlay {
    position: relative;
    overflow: hidden;
    filter: blur(1px);
}

.overlay:after {
    content: '';
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(28, 28, 28, 0.5);
}

.non-scroll {
    overflow: hidden;
}
